<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animals</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Animals</h2>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <h3>New Animal</h3>
        <form>
          <input type="text" id="name" placeholder="name">
          <input type="text" id="species" placeholder="species">
          <button name="button" onclick='buttonPost()'>Submit</button>
        </form>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Species</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < animals.length; i++) { %>
              <tr>
                <td><%= animals[i].name %></td>
                <td><%= animals[i].species %></td>
                <td><a class='btn btn-primary' href='animals/update/<%= animals[i]._id %>'>Update</a></td>
                <td><button class='btn btn-danger' onclick='buttonDelete("<%= animals[i]._id %>")'>Delete</button></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script src='js/app.js'></script>
  </body>
</html>
